h1,h2,h3,h4{
    text-align: center;
}
button {
    background-color: rgba(241,108,32,0.4);
    border-radius: 30px;
    border: 3px solid #f16c20;
    padding: 10px 60px;
    font-size: 20px;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
}

.section{
    height: 95vh;
    width: 100vw;
    margin-top: 5vh;
}
.welcome h1, .welcome h2 {
    color: #fff;
}
.welcome h1 {
    font-size: 5vw;
}
.welcome h2 {
    font-size: 2vw;
}
.welcome {
    z-index: 1;
    background-image: url('../img/landing/welcome-background.jpg');
}
.welcome .pp-tableCell{
    /*background-color: #00C176;*/
    background: rgba(95, 188, 208, 0.37);
}
.box {
    display: block;
    height: 50%;
    width: 50%;
}
.odd {
    float: left;
}
.even {
    float: right;
}
#dashboard {
    background-image: url('../img/landing/dashboard.png');
}
#planning {
    background-image: url('../img/landing/planning.png');
}
.box h3 {
    color: #4AC7E4;
    text-transform: capitalize;
    font-size: 2.4vw;
    position: relative;
    margin-top: 6vw;
}
.box p {
    width: 100%;
    max-width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-size: 1vw;
}